.vscode/**
.vscode-test/**
build/**
coverage/**
data/**
docs/**
examples/**
out/tasks/**
out/webviews/filter-preview/index.html
src/**
.codecov.yml
.gitignore
.travis.yml
package-lock.json
tslint.json
yarn-error.log
yarn.lock
